:root {
  --primary: #110edb;
  --pencil: #3e3e3f;
  --success: #137a61;
  --failed: #b34747;
}

body {
  background-color: #eeeeee;
  margin: 0;
  box-sizing: content-box;
}

.loader {
  width: 20px;
  height: 20px;
}
/* header */
header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}

header button {
  border: none;
  background-color: black;
  width: 130px;
  height: 40px;
  color: white;
  border-radius: 7px;
}
/* create task bar  */

.create-task-bar {
}

.quotes {
  background-color: white;
  min-height: 150px;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}
.create-task-bar form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  background-color: white;
  min-height: 150px;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}

.create-task-bar h1 {
  margin: 0px;
  color: var(--pencil);
}
.create-task-bar p {
  margin: 0px;
  color: var(--failed);
}
.create-task-bar input,
.create-task-bar select {
  height: 40px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid rgb(111, 111, 111);
}

.create-task-bar textarea {
  height: 100px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid rgb(111, 111, 111);
}
.create-task-bar button {
  height: 40px;
  border-radius: 5px;
  border: none;
  /* background-color: var(--primary); */

  background-color: black;

  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.status-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reponse {
  background-color: aquamarine;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}
/* task list */

.task-list {
  border-radius: 5px;
  min-height: 400px;
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 15px;
}

.task-list h3 {
  margin: 0px;
  /* padding-left: 10px; */
}

.task-list ul {
  padding-left: 0px;
}

.task-list li {
  list-style-type: none;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 1px rgb(173, 172, 172);
}

.task-list .task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-list .task-title {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.task-list li .status {
  border: none;
  font-size: 12px;
  height: 25px;
  border-radius: 4px;
  width: 90px;
  color: white;
}

.task-button-action {
  /* width: 30%; */
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: flex-start;
}

.task-button-action button {
  color: #3e3e3f;
}

.delete {
  color: var(--failed) !important ;
  text-transform: capitalize;
}
.task-list h4 {
  margin: 0px;
  text-transform: capitalize;
}

.task-list p {
  margin: 0px;
}
/* task page */
.task-content {
  display: flex;
  gap: 20px;
  padding: 0px 5%;
}

@media screen and (max-width: 1024px) {
  .task-content {
    flex-direction: column;
  }
}

/* view task */

.each-task {
  min-height: 280px;
  width: 100%;
}

.null {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .null img {
  width: 400px;
  height: 300px;
} */
