:root {
  --primary: #110edb;
  --pencil: #3e3e3f;
  --success: #b93a8f;
  --failed: #b34747;
}

body {
  background-color: #eeeeee;
  margin: 0;
  box-sizing: content-box;
}

.loader {
  width: 20px;
  height: 20px;
}
/* header */
header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
}

header h1 {
  font-size: 26px;
}

header h1 span {
  color: var(--success);
}

header button {
  border: none;
  background-color: black;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 7px;
}
/* create task bar  */

.create-task-bar {
}

.quotes {
  background-color: white;
  min-height: 150px;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}
.create-task-bar form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  background-color: white;
  min-height: 150px;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}

.create-task-bar h1 {
  margin: 0px;
  font-size: 18px;
  color: var(--pencil);
}
.create-task-bar p {
  margin: 0px;
  color: var(--failed);
}
.create-task-bar input,
.create-task-bar select {
  height: 40px;
  padding-left: 10px;
  border-radius: 3px;
  text-transform: capitalize;

  border: 1px solid rgb(111, 111, 111);
}

.create-task-bar input:focus,
.create-task-bar select:focus,
.create-task-bar textarea:focus {
  outline: 1px solid var(--success);
  border: 1px solid var(--success);
}
.create-task-bar textarea {
  height: 100px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid rgb(111, 111, 111);
}
.create-task-bar button {
  height: 40px;
  border-radius: 5px;
  border: none;
  /* background-color: var(--primary); */

  background-color: black;

  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.status-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reponse {
  background-color: white;
  padding: 3px 0px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
}
/* task list */

.task-list {
  border-radius: 5px;
  min-height: 400px;
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 25px;
}

.task-list h3 {
  margin: 0px;
  font-size: 18px;

  /* padding-left: 10px; */
}

.task-list ul {
  padding-left: 0px;
}

.task-list li {
  list-style-type: none;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 15px;
  /* box-shadow: 0px 1px 0px rgb(228, 227, 227); */
}

.task-list .task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.task-list .task-title {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.task-list li .status {
  border: none;
  font-size: 12px;
  height: 25px;
  border-radius: 4px;
  width: 90px;
  color: white;
}

.task-button-action {
  /* width: 30%; */
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
.task-button-action button {
  border: none;
  background-color: white;
  padding: 0px;
}
.task-button-action button {
  color: #3e3e3f;
}

.delete {
  color: var(--failed) !important ;
  text-transform: capitalize;
}
.task-list h4 {
  margin: 0px;
  font-size: 15px;

  text-transform: capitalize;
  color: #3e3e3f;
}

.task-list p {
  margin: 0px;
  margin-top: 20px;
  color: #b93a8f;
}
.more-desc::first-letter {
  text-transform: uppercase;
  color: aqua;
}
.more-desc {
  color: #3e3e3f;
  text-decoration: none;
}
/* task page */
.task-content {
  display: flex;
  gap: 20px;
  padding: 0px 5%;
  margin-bottom: 30px;
}

/* view task */

.each-task {
  min-height: 280px;
  width: 100%;
}

.null {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .null img {
  width: 400px;
  height: 300px;
} */

/* media screen  */
@media screen and (max-width: 1024px) {
  body {
    min-height: 100vh;
  }
  .task-content {
    flex-direction: column;
    justify-content: center;
  }
  .task-list {
    width: 90%;
  }
  .create-task-bar form {
    /* max-width: 00px; */
    width: 90%;
  }
}

@media screen and (max-width: 728px) {
  header h1 {
    font-size: 24px;
  }
  header button {
    display: none;
  }

  .task-list {
    width: 90%;
  }
  .task-list h4 {
    font-size: 12px;
  }

  .task-list li .status {
    font-size: 10px;
    width: 72px;
    height: 20px;
    text-align: center;
  }
  .create-task-bar form {
    /* max-width: 00px; */
    width: 90%;
    padding: 20px;
  }

  .create-task-bar h1 {
    font-size: 16px;
  }
  .task-list {
    width: 90%;
    min-height: 200px;
  }
  .task-list h3 {
    font-size: 16px;
  }
  .task-button-action {
    gap: 5px;
  }

  .task-button-action button img {
    width: 16px;
  }
}

@media screen and (max-width: 428px) {
  .task-list li .status {
    font-size: 10px;
    width: 72px;
    height: 20px;
    text-align: center;
  }
  .create-task-bar form {
    /* max-width: 00px; */
    width: 90%;
    padding: 20px;
  }
  .task-info {
    justify-content: space-around;
  }
  .task-list .task-title {
    width: 72%;
  }

  .task-list .task-title h4 {
    width: 60%;
    overflow-x: hidden;
  }
}
